/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) 
{


#main-menu nav
{
    display:none;
}

#hamburger-menu
{
   display:block;
   color: black;
   size: 5x; 
   justify-self: end;
   padding-right: 20px;
   align-self: center;
}

/******Hero****/
#hero
{
    grid-template-columns: 1fr;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.699), rgba(0, 0, 0, 0)), url("../img/spaghetti.png");
    background-position-x: -60%;
    background-size: cover;
    justify-items: center;
    height:70vh;
}

h1
{
    font-size:2.5rem;
}


#hero-caption
{
    justify-items: center;
}

#hero-caption p
{
    text-align:center;
}

#hero a
{
    display:block;
}

#spaghetti-section
{
    display:none; 
}

#hero-buttons
{
    display:inline-block;
    text-align: center; 
}

/******Who We Are****/
#about
{
    grid-template-columns: 1fr;
    margin: 410px 35px 50px 35px;
}

#about-writing h2
{
    text-align: center;
}

#about-writing p
{
    text-align:justify;
}

#about-writing a
{
    justify-self: center;
    display: block;
    text-align:center;
}

#about-writing 
{
    padding: 0px;
}

#about-img
{
    margin-top: 35px;
}

/******Recipe Caegories****/

#recipe-categories
{
    grid-template-columns: 1fr;
}

.recipe-categories-section
{
    margin-bottom: 30px;
}

#healthy-food
{
    grid-template-columns: 1fr;
    margin: 55px 35px;
    
}

/******Newsletter****/

#newsletter-form input[type]
{
    
    padding: 18px 24px;
    border-radius:38px;
    outline: none;
    border: none;
    text-align:left;
    margin-bottom: 9px; 
}


#newsletter-form button
{
    padding: 18px 24px;
    border-radius:38px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #F8B735;
}

#newsletter-form
{
    justify-items: center;
    display:grid;
}

}