/* CSS RESET */

*
{
    margin: 0; 
    padding: 0; 
}

/* GENERAL STYLES */ 
body
{
    background-image: url("../img/background-image.png");
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: Poppins;
    line-height:1.7;
}

header img
{
    padding: 16px 35px;
}

header 
{
    background-color: transparent;
}

header li
{
    display: inline-block;
    padding: 0px 17px;
}

header a
{
    text-decoration:none;
    color:black;
    font-size: 1.1em;
}

nav a:hover
{
    border-bottom: 1px solid black;
    padding-bottom: 4px;
}

nav a:active
{
    border-bottom: 1px solid black;
    padding-bottom: 4px;
}

#hero-caption
{
    padding-top: 130px;
    line-height: 1.2;
}

#hero-caption a
{
    display:inline-block;
}

h1
{
    font-size:3.5em;
    font-family:Montserrat;
}

h2
{
    font-family:Shellia;
    font-size: 3rem;
}


#sign-up-newsletter
{
    border: 1px solid #26704F;
    color: #26704F;
    font-weight:bolder;
}

#sign-up-newsletter:hover
{
    border: 1px solid #26704F;
    color: white;
    background-color:#26704F;
    font-weight:bolder;
}


/****HERO****/
#hero
{
    height: 90vh;
}

#spaghetti-section
{
    grid-template-rows:  2;
    row-gap: -15px;
}


#hero-recipe-day
{
    
    justify-content: end;
    padding-right: 15px;
    margin-bottom: 85px;;
}

#hero-recipe-day > p
{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.507); 
    padding: 8px 27px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 1%;
    font-family: Montserrat;
}

#hero-recipe-day-details 
{
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 8px 27px;
    border-radius: 0 0 10px 10px;
    margin-top:0;
}

#hero-recipe-day-details img
{
    width: 100px;
}

#hero-recipe-day-details> a
{
    color:white;
    background-color: #2B898B;
    margin-bottom:32px;
    font-size: 0.8rem;
    border-radius: 23px;
    font-family:Montserrat;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 9px;
}

#hero-recipe-day-details > a:hover
{
    background-color: #26704F;
}

/****WHO ARE WE****/

#about
{
    background-color: white;
    margin: 135px 0px 55px 0;
    padding-top: 50px;
}

#about-writing a
{
    display:inline-block;
    
}

#about-writing 
{
    padding: 50px 205px 50px 50px ;
    text-align:justify;
}



/****Recipe Categories****/

.recipe-categories-section
{
    border-radius: 33px;
    width: 285px;
    height: 385px;
}

#recipe-categories a
{
    color: white;
    text-decoration:none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Montserrat;
    text-transform: uppercase; 
}

.recipe-headings 
{
   background-color: #F8B735;
   padding: 15px 0px;
   text-align:center;
   border-radius: 0 0 33px 33px;
}

.recipe-categories-section:hover
{
   animation: pulse;
   animation-duration: 2s;
}

#appetizer
{
    background-image: url("../img/appetizer.jpg");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-course
{
    background-image: url("../img/recipe.jpg");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

#dessert
{
    background-image: url("../img/dessert.jpg");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

#drinks
{
    background-image: url("../img/drinks.jpg");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

/***Healthy Food***/

#healthy-food
{
    margin: 55px 175px;
    border-radius: 35px;
    line-height: 1.7;
    /*padding: 50px 50px 50px ;*/
    background-color: #26704F;
}

h3
{
    font-family: Montserrat;
    margin-bottom: 9px; 
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}

#healthy-img
{
    background-image: url("../img/healthy-foods.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 35px 0 0 35px;
}

#health-para
{
    padding: 50px 50px 50px ;
}

#health-para a
{
    display: inline-block;
    margin-top: 20px ;
    text-decoration: none;
    color: white;
}

#health-para a:hover
{
    animation: pulse;
    animation-duration: 2s;
}

/*Newsletter*/

#newsletter
{
    background-image: url("../img/newsletter.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 55px 0 0 0;
    padding: 130px 15px;
}

#newsletter-section
{
    background-color: rgba(253, 253, 253, 0.418);
    padding: 25px 25px 65px;
    border-radius: 18px;
}

#newsletter-form input[type]:hover
{
    outline: 1px solid black;
}

#newsletter-form label
{
    display:block;
    margin: 12px 0 7px 0;

}

#newsletter-form input[type]
{
    padding: 22px 350px 18px 14px;
    border-radius:38px 0 0 38px;
    outline: none;
    border: none;
    text-align:left;
    margin-left:-1px;
}


#newsletter-form button
{
    padding: 17px 42px;
    border-radius:38px;
    margin-left:-49px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #F8B735;
}

#newsletter-form button:hover
{
    background-color: #2B898B ;
}

/* Footer */ 

footer
{
    padding: 17px 0;
    text-align:center;
    color: #F88E28;
    background-color: rgba(255, 255, 255, 0.473);
}




