.container
{
    margin: 0 auto;
    max-width: 1200px; 
}

.text-center
{
    text-align: center;
}

.text-bold
{
    font-weight:bold;
}

.pd-left-sm
{
    padding-left: 8px;
}

.pd-left-m
{
    padding-left: 32px;
}

.mrg-left
{
margin-left: 46px;
}

.mrg-body
{
    margin: 60px 0;
}

.btn
{
    font-size: 0.9rem;
    border-radius: 23px;
    font-family:Montserrat;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 32px;
    border: 1px solid black;
    margin: 37px  12px 0 0;
}

.btn-primary
{
    background-color: #F8B735;
    border: 1px solid #F8B735;
    color: #213037;
    font-weight:bolder;
}

.btn-primary:hover
{
    background-color:white;
}

.btn-secondary
{
    border: 1px solid #26704F;
    color: #26704F;
    font-weight:bolder;
}

.btn-secondary:hover
{
    background-color: #26704F;
    color: white;
}




.grid
{
    display: grid;
}

.grid-x-center
{
    justify-items: center;
}

.grid-y-center
{
    align-items: center;
}

.grid-x-start
{
    justify-items: start;
}

.grid-x-end
{
    justify-items: end;
}

.grid-y-start
{
    align-items: start;
}

.grid-y-end
{
    align-items: end;
}

.grid-col-1
{
    grid-template-columns: 1fr;
}

.grid-col-2
{
    grid-template-columns: 1fr 1fr;
}

.grid-col-3
{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-4
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-gap-col-x-sm
{
    column-gap: 8px;
}

.grid-gap-col-x-sm
{
    column-gap: 16px;
}

.grid-col-col-m
{
    column-gap: 32px;
}

.grid-gap-col-l
{
    column-gap:64px;
}

.hide
{
    display:none;
}




